@import "../../../VariablesScss.scss";

.social-link {
    &__box {
        padding-top: 40px;
        display: flex;
        justify-content: center;
        column-gap: 30px;
    }

    &__linck {
        display: flex;
        height: 40px;
        width: 40px;
        background-color: $text-color;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        transition: all 0.5s;

        &:hover {
            background-color: $auxiliary-color;

            @media (hover: none) {
                background-color: $text-color;
            }
        }
    }

    &__ico {
        height: 34px;
        width: 34px;
        padding: 5px;
    }
}