@import "../../VariablesScss.scss";

.header-box {
    min-height: 630px;
    max-height: 937px;
    z-index: -1;
}

.header {
    position: fixed;
    padding-bottom: 6.5rem;
    
    &__header-content {
        padding-top: 2.5rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    
        @media screen and (max-width: 767px) {
            flex-direction: column;
        }
    }

    &__logo {
        display: block;
        width: 220px;
        font-family: "Norwester", "Tahoma", sans-serif;
        color: $secondary-color;
        font-size: 2.7rem;
        transition: 0.7s all cubic-bezier(0.18, 0.89, 0.32, 1.28);
    }

    &__slogan {
        display: inline-block;
        padding-top: 0.5rem;
        width: 220px;
        vertical-align: text-bottom;
        font-weight: normal;
        transition: 0.8s all cubic-bezier(0.18, 0.89, 0.32, 1.28);
    }

    &__img {
        max-width: 550px;
        min-width: 500px;
        height: 400px;
        object-fit: cover;

        @media screen and (min-width: 767px) {
            width: 520px;
        }
    }
}

