.form {
    display: flex;
    flex-direction: column;
    align-items: center;
 
    &__label {
        padding-top: 20px;
    }

    &__input {
        width: 40vw;

        @media screen and (max-width: 479px) {
            width: 90vw;
        }
    }
}