@import "VariablesScss.scss";

@font-face {
    font-family: "Norwester";
    font-display: swap;
    src: url("./fonts/Norwester.woff") format("woff");
}

@font-face {
    font-family: "PTMono-Regular";
    font-display: swap;
    src: url("./fonts/PTMono-Regular.woff") format("woff");
}

html {
    font-size: 18px;

    @media screen and (max-width: 479px) {
        font-size: 20px;
    }
}

body {
    font-family: "PTMono-Regular", "Tahoma", sans-serif;
    color: $text-color;
}

.row-box {
    display: flex;
    align-items: center;
    flex-direction: column;
}