@font-face {
    font-family: "Norwester";
    font-display: swap;
    src: url("./fonts/Norwester.woff") format("woff");
}

@font-face {
    font-family: "PTMono-Regular";
    font-display: swap;
    src: url("./fonts/PTMono-Regular.woff") format("woff");
}

$text-color: #414141;
$pagination-text-color: #828282;
$secondary-color: #006895;
$auxiliary-color: #7b3d42;

html {
    font-size: 18px;

    @media screen and (max-width: 479px) {
        font-size: 20px;
    }
}

body {
    font-family: "PTMono-Regular", "Tahoma", sans-serif;
    color: $text-color;
}

.row-box {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header-box {
    min-height: 630px;
    max-height: 937px;
    z-index: -1;
}

.inner {
    max-width: 940px;
    min-width: 365px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.main {
    position: relative;
    z-index: 1;
}

.background-color-smoky-white {
    background-color: #f6f6f6;
}

.about {
    display: flex;
    align-items: center;
    flex-direction: column;

    padding-top: 70px;
    padding-bottom: 100px;
}

.section__title {
    text-align: center;
    padding-bottom: 10px;
    font-size: 1.9rem;
}

.section__text {
    display: block;
    text-align: justify;
    line-height: 22px;
    max-width: 550px;
    line-height: 2;
}

.section-skills {
    position: relative;
    background-image: url("./img/test.webp");
    background-size: cover;
    background-repeat: no-repeat;

    &__title {
        padding-top: 70px;
        font-size: 34px;
        line-height: 42px;
        z-index: 3;
    }

    &__text {
        padding-top: 20px;
        text-align: center;
        z-index: 3;
    }

    &__wrap {
        display: flex;
        justify-content: center;
        align-content: flex-start;
        padding-top: 50px;
        padding-bottom: 40px;
        flex-wrap: wrap;
        row-gap: 84px;
        z-index: 3;
    }

    &__box-skills {
        text-align: center;
    }

    &__logo {
        width: 150px;
        height: 80px;
    }

    &__desc {
        display: block;
        padding-top: 10px;
        font-size: 0.9rem;
        line-height: 17px;
        font-weight: bold;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: #fff;
        opacity: 0.9;
    }
}

.section-portfolio {
    &__title {
        padding-top: 70px;
        font-size: 34px;
        line-height: 42px;
    }

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 45px;
        padding-bottom: 40px;
        row-gap: 2em;
    }

    &__project {
        text-align: center;
        max-width: 420px;
    }

    &__img {
        max-width: 400px;
        height: 200px;
        width: 100%;
    }

    &__desc {
        padding-top: 10px;
    }

    &__link {
        padding-top: 10px;
        display: block;
        font-size: 0.9rem;
        line-height: 17px;
        font-weight: bold;
        color: $text-color;
        transition: all 0.5s;

        &:hover {
            color: $auxiliary-color;
        }
    }
}

.footer {
    position: relative;
    padding-top: 70px;
    padding-bottom: 100px;
    background-color: #fff;
    z-index: 3;

    &__wrap {
        text-align: center;
    }
    &__title {
        font-size: 34px;
        line-height: 42px;
    }
    &__text {
        display: block;
        text-align: center;
        padding-top: 20px;
        max-width: 500px;
        line-height: 2;
    }

    &__box {
        padding-top: 85px;
        display: flex;
        justify-content: center;
        column-gap: 30px;
    }

    &__social-linck {
        display: flex;
        height: 40px;
        width: 40px;
        background-color: #414141;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        transition: all 0.5s;

        &:hover {
            background-color: #7b3d42;
         }
    }

    &__social-ico {
        height: 34px;
        width: 34px;
        padding: 5px;

        
    }
}